Web/Service References/UniSocialService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:9000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Worker.Model" />
  <xs:element name="StartNewTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Worker.Model" minOccurs="0" name="CollectTask" nillable="true" type="q1:CollectTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Worker.Model" minOccurs="0" name="GetTasksResult" nillable="true" type="q2:ArrayOfCollectTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTaskFromList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Worker.Model" minOccurs="0" name="CollectTask" nillable="true" type="q3:CollectTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>