Web/Service References/UniSocialService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Worker.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Worker.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CollectTask">
    <xs:sequence>
      <xs:element name="_method" nillable="true" type="xs:string" />
      <xs:element name="_socialNetworks" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ErrorMessage_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Input_x003E_k__BackingField" nillable="true" type="tns:CollectTaskIO" />
      <xs:element name="_x003C_IsCompleted_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Output_x003E_k__BackingField" nillable="true" type="tns:CollectTaskIO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollectTask" nillable="true" type="tns:CollectTask" />
  <xs:complexType name="CollectTaskIO">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="CollectTaskIO" nillable="true" type="tns:CollectTaskIO" />
  <xs:complexType name="ArrayOfCollectTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CollectTask" nillable="true" type="tns:CollectTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollectTask" nillable="true" type="tns:ArrayOfCollectTask" />
</xs:schema>