Web/Service References/UniSocialService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Worker.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Worker.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CollectTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Input" nillable="true" type="tns:CollectTaskIO" />
      <xs:element minOccurs="0" name="IsCompleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Output" nillable="true" type="tns:CollectTaskIO" />
      <xs:element minOccurs="0" name="SocialNetwork" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollectTask" nillable="true" type="tns:CollectTask" />
  <xs:complexType name="CollectTaskIO">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="CollectTaskIO" nillable="true" type="tns:CollectTaskIO" />
  <xs:complexType name="CollectTaskIOFile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CollectTaskIO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CollectTaskIOFile" nillable="true" type="tns:CollectTaskIOFile" />
  <xs:complexType name="ArrayOfCollectTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CollectTask" nillable="true" type="tns:CollectTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollectTask" nillable="true" type="tns:ArrayOfCollectTask" />
</xs:schema>