Web/Service References/UniSocialService/UniSocialService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UniSocialService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Worker.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUniSocial_StartNewTask_InputMessage">
    <wsdl:part name="parameters" element="tns:StartNewTask" />
  </wsdl:message>
  <wsdl:message name="IUniSocial_StartNewTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartNewTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IUniSocial_GetTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTasks" />
  </wsdl:message>
  <wsdl:message name="IUniSocial_GetTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IUniSocial_GetCurrentTaskCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentTaskCount" />
  </wsdl:message>
  <wsdl:message name="IUniSocial_GetCurrentTaskCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentTaskCountResponse" />
  </wsdl:message>
  <wsdl:portType name="IUniSocial">
    <wsdl:operation name="StartNewTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IUniSocial/StartNewTask" message="tns:IUniSocial_StartNewTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUniSocial/StartNewTaskResponse" message="tns:IUniSocial_StartNewTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IUniSocial/GetTasks" message="tns:IUniSocial_GetTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUniSocial/GetTasksResponse" message="tns:IUniSocial_GetTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTaskCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IUniSocial/GetCurrentTaskCount" message="tns:IUniSocial_GetCurrentTaskCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUniSocial/GetCurrentTaskCountResponse" message="tns:IUniSocial_GetCurrentTaskCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUniSocial" type="tns:IUniSocial">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartNewTask">
      <soap:operation soapAction="http://tempuri.org/IUniSocial/StartNewTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTasks">
      <soap:operation soapAction="http://tempuri.org/IUniSocial/GetTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTaskCount">
      <soap:operation soapAction="http://tempuri.org/IUniSocial/GetCurrentTaskCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UniSocialService">
    <wsdl:port name="BasicHttpBinding_IUniSocial" binding="tns:BasicHttpBinding_IUniSocial">
      <soap:address location="http://localhost:9000/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>